@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@500&family=Inter:wght@700;800&family=Lalezar&family=Merriweather:wght@300;700;900&family=Roboto&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-family: "Inter Tight", sans-serif;
  font-family: "Lalezar", system-ui;
  font-family: "Merriweather", serif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("/bg.png");
}

.reset {
  display: flex;
  flex-direction: column;
  height: 28rem;
  width: 27rem;
  margin-top: 4rem;
  background-color: rgba(152, 148, 155, 0.1);
  opacity: 1;
  align-items: center;
  border-radius: 1rem;
  padding-top: 2rem;
}

.main_button {
  display: flex;
  height: 2.5rem;
  width: 15rem;
  align-items: center;
  gap: 0;
  border-radius: 20px;
  background-color: #0080809e;
}

#reset_head{
  height: 1.7rem;
  width: 14rem;
  background-color: #008080;
  border-radius: 20px;
  color: white;
  border: none;
  margin: auto;
  font-size: 18px;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  height: 2rem;
  border-radius: 20px;
  padding-left: 1rem;
  border: 2px solid #0080809e;
}

.passfield {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 20rem;
  border: 2px solid #0080809e;
  border-radius: 20px;
  background-color: white;
}

#crackpass {
  border: none;
  outline: none;
}

.r-btn {
  height: 2.2rem;
  width: 10rem;
  background-color: #008080;
  color: white;
  border-radius: 20px;
  margin-left: 5rem;
  border: none;
  font-weight: 600;
}

/* Media query */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .register {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .main_button {
    width: fit-content;
  }

  .input_container {
    padding: 0 15px;
  }

  .passfield {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .register {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  .main_button {
    flex-direction: row;
    width: 100%;
  }

  #reset_head {
    width: 100%;
  }

  .input_container {
    padding: 0 10px;
  }

  .passfield {
    width: 100%;
    gap: 1rem;
  }

  .r-btn {
    margin: auto;
    width: 60%;
  }
}